@import "~antd/lib/style/index";

.container {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
}

.divide {
  border-top: 2px solid #ff00ff !important;
  opacity: 0.2 !important;
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-left::before,
.ant-divider-horizontal.ant-divider-with-text-right::before,
.ant-divider-horizontal.ant-divider-with-text-center::after,
.ant-divider-horizontal.ant-divider-with-text-left::after,
.ant-divider-horizontal.ant-divider-with-text-right::after {
  border-top: 2px solid #ff00ff !important;
  opacity: 0.2 !important;
}

.ant-form-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum", "tnum";
  vertical-align: top;
  border-radius: 8px !important;
}

ant-divider ant-divider-horizontal {
  border-top: 2px solid #ff00ff !important;
  opacity: 0.2 !important;
}
.section1 {
  height: 100vh;
  background-image: url("assets/wave.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  margin-bottom: -1px;
}
.section2 {
  background-color: #1d1233;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: white;
}
.section3 {
  background-color: #1d1233;
  color: white;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 1.2rem;
  margin-bottom: -1px;
}
.section4 {
  background: linear-gradient(#1d1233 60%, #ffffff 40%);
  color: white;
  padding-top: 20px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 60px;
}
.section5 {
  padding-top: 20px;
  padding-bottom: 40px;
}
.section6 {
  color: #000000;
  padding-top: 20px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 60px;
}
.icon {
  margin-right: 2px;
  float: left;
}

.divider {
  padding-top: 70px;
  padding-bottom: 10px;
  width: 30;
}
.paragraph {
  margin-left: 2rem;
}
.widthdivide {
  width: 90px !important;
}
.logo {
  margin-top: 8.5rem;
}
.maps {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.textright {
  padding: 40px 0px 40px 0px;
}
.textleft {
  padding: 45px 0px 0px 0px;
}
@media (min-width: 1281px) {
  .textleft {
    padding: 45px 0px 0px 0px;
    margin-right: 3.5rem;
    margin-top: 1rem;
  }
}
@media (min-width: 1900px) {
  .textleft {
    margin-top: 0.5rem;
    margin-right: 4.5rem;
  }
}
@media (min-width: 1024px) {
  .textleft {
    margin-top: 0;
    margin-right: 2.5rem;
  }
}
@media (min-width: 668px) and (max-width: 2560px) {
  .textleft {
    padding: 45px 0px 0px 0px;
    margin-right: 2.5rem;
    margin-top: 0;
  }
}
.inside1 {
  margin-bottom: 8px;
}
.button {
  background: linear-gradient(to right, #005bf0, #ff00ff);
  color: white;
  border-radius: 8px;
  border: none;
}
.button:hover {
  background: linear-gradient(to right, #4d05e8, #f75df7);
  color: #e8ecf1;
}
.info {
  margin-bottom: 10px;
  color: white;
}
.form {
  border-radius: 8px;
}
.text-white {
  color: white !important;
}
.extrainfo {
  font-size: 12px;
  margin-top: 8px;
  color: white;
}
.font-finternet {
  color: #ff00ff !important;
}
.img {
  height: auto;
  width: 100%;
  padding-left: 0.6rem;
}
